*{
    margin: 0;
    padding: 0%;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 56px;
    
}
body {
    background-image: url("assests/joe-woods-4Zaq5xY5M_c-unsplash.jpg");
    background-color: #cccccc;
  }
.content{
    /* font-family: 'Red Hat Mono', monospace; */
    font-family: 'Zen Antique', serif;
}

.container{
    /* background-color: blueviolet; */
    width: 70vw;
    margin: auto;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}

.logo{
    width: 32px;
    /* align-self: right; */
    float: right;
    
}

.logo img{
    width: 32px;
    
}